body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.43;
  color: #333;
  background-color: #fff;
  margin: 0;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
a {
  text-decoration: none;
  color: #333;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
p {
  margin: 0 0 10px;
}
img {
  max-width: 100%;
}
.w-clear:after{display:block;content:"";clear:both;}
.hidden {
    display: none;
}
.none {
    display: none;
}
.hidden-seoh {
    visibility: hidden;
    height: 0px;
    margin: 0px;
    overflow: hidden;
}
.row-10 {
  margin: 0 -10px !important; 
}
.padding-10 {
  padding: 0 10px !important; 
}
.row-5 {
  margin: 0 -5px !important; 
}
.padding-5 {
  padding: 0 5px !important; 
}
.row {
  /* margin: 0 -5px; */
  position: relative;
}
.col {
  width: 100%;
  padding: 0 5px;
  float: left;
  box-sizing: border-box;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.33%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-20 {
  width: 20%;
}
.row:after,
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.clear,
.clr {
  clear: both;
  float: none;
}
.none,
.mobile {
  display: none;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.scale-img{overflow:hidden;display:block;}
.scale-img img{-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out;-moz-transform:scale(1,1);-webkit-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);}
.scale-img:hover > img{-webkit-transition:0.3s ease-out;-moz-transition:0.3s ease-out;-o-transition:0.3s ease-out;transition:0.3s ease-out;-moz-transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);transform:scale(1.1,1.1);}

.flex-direction-nav a:before {
  content: none !important;
}
.flex-direction-nav a.flex-prev {
  position: absolute;
  left: 10px;
  top: calc(50% - 22px);
  padding: 0;
  margin: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 45px;
  text-align: center;
  font-size: 40px;
  line-height: 1;
  color: #fff;
  font-family: -webkit-body;
  text-align: center !important;
  opacity: 1 !important;
}
.flex-direction-nav a.flex-next {
  position: absolute;
  right: 10px;
  top: calc(50% - 22px);
  padding: 0;
  margin: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 45px;
  text-align: center;
  font-size: 40px;
  line-height: 1;
  color: #fff;
  font-family: -webkit-body;
  text-align: center !important;
  opacity: 1 !important;
}
.module-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999999999;
  display: none;
}
.modal-dialog {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-top: 10vh;
  width: 600px;
  height: fit-content;
  border: 10px solid rgba(255, 255, 255, 0.5);
  pointer-events: auto !important;
}
.dialog-content {
  float: left;
  width: 100%;
  background: #fff;
  position: relative;
}
.dialog-close {
  font-size: 16px;
  line-height: 1;
  color: #000;
  display: table;
  margin: 10px auto 0;
  text-decoration: underline;
  clear: both;
  display: block;
  text-align: center;
}
.dialog-title {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 15px 0 10px;
}
.dialog-description {
  margin: 0 20px 20px;
  text-align: center;
}
.dialog-description b {
  color: #e00;
}
.dialog-main {
  float: left;
  width: 100%;
  padding: 20px;
  background: #f5f5f5;
}
.dialog-main input,
.dialog-main select {
  /* float: left; */
  width: 100%;
  border: 1px solid #ced4da;
  padding: 10px;
  line-height: 20px;
  height: 40px;
  margin-bottom: 10px;
  font-family: inherit;
  background: #fff;
  font-size: 15px;
}
.dialog-main input[type='submit'] {
  width: 120px;
  border: 2px solid;
  background: #fff;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  /* margin: 0 auto; */
  clear: both;
  display: inline-block;
}
@font-face {
  font-family: Nobel;
  font-display: auto;
  src: local("Nobel Light"),
    url(../fonts/main/Nobel-Light.woff2) format("woff2"),
    url(../fonts/main/Nobel-Light.woff) format("woff");
  font-weight: 200;
}
@font-face {
  font-family: Nobel;
  font-display: auto;
  src: local("Nobel Book"),
    url(../fonts/main/Nobel-Book.woff2) format("woff2"),
    url(../fonts/main/Nobel-Book.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: Nobel;
  font-display: auto;
  src: local("Nobel Regular"),
    url(../fonts/main/Nobel-Regular.woff2) format("woff2"),
    url(../fonts/main/Nobel-Regular.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: Nobel;
  font-display: auto;
  src: local("Nobel Bold"),
    url(../fonts/main/Nobel-Bold.woff2) format("woff2"),
    url(../fonts/main/Nobel-Bold.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: NobelVnu;
  font-display: auto;
  src: local("NobelVnu Light"),
    url(../fonts/main/NobelVnu-Light.woff) format("woff");
  font-weight: 200;
}
@font-face {
  font-family: NobelVnu;
  font-display: auto;
  src: local("NobelVnu Book"),
    url(../fonts/main/NobelVnu-Book.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: NobelVnu;
  font-display: auto;
  src: local("NobelVnu Regular"),
    url(../fonts/main/NobelVnu-Regular.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: NobelVnu;
  font-display: auto;
  src: local("NobelVnu Bold"),
    url(../fonts/main/NobelVnu-Bold.woff) format("woff");
  font-weight: 700;
}
html,
body {
  font-family: NobelVnu, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #000000;
}
.container {
  max-width: 1200px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.container.fullWidth {
  /*max-width: calc(100% - 100px);*/
  /*min-width: 1200px;*/
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
body > section {
  float: left;
  width: 100%;
  margin-top: 60px;
}
header {
  float: left;
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #fff;
}
header#header-page-car {
  box-shadow: none;
}
header #logo {
  float: left;
  height: 50px;
  margin: 5px 60px 5px;
  position: absolute;
}
header #menu {
  display: table;
  margin: auto;
}
header #menu li {
  display: inline-block;
  margin-left: 10px;
  padding: 0 10px;
}
header #menu li:hover {
  background: #f2f2f2;
}
header #menu li a {
  line-height: 30px;
  display: block;
  margin: 15px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
header #header-car {
  display: none;
  float: left;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  background: #fff;
  z-index: 999;
}
header #header-car:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/dropdown-shadow.gif) repeat-x top left,
    url(../images/dropdown-shadow.gif) repeat-x bottom left;
  padding-bottom: 2px;
}
header .header-car {
  float: left;
  width: 20%;
  border-bottom: 1px dotted #ccc;
}
header .header-car a {
  float: left;
  width: 100%;
  padding: 20px 10px;
  margin-top: 2px;
  letter-spacing: 1px;
}
header .header-car:hover a {
  background: #f2f2f2;
}
header .header-car a label {
  display: block;
  font-size: 18px;
  color: #000;
}
footer {
  float: left;
  width: 100%;
  background: #000;
  padding: 20px 0;
  margin-top: 30px;
}
footer#footer-contact {
  margin: 0;
}
footer * {
  color: #ffffff;
  font-size: 14px;
}
footer h4 {
  text-transform: uppercase;
  margin: 20px 0 15px;
}
footer ul li {
  margin-bottom: 10px;
  color: #adadad;
}
footer ul li a,
.copyright * {
  color: #adadad;
}
footer .copyright {
  margin: 10px 0;
}
.block-title {
  font-size: 24px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: relative;
  line-height: 1.5;
  font-weight: normal;
  text-align: center;
  margin: 35px auto 25px;
  display: table;
}
.block-description {
  margin: 0 auto 20px;
  display: table;
  max-width: 800px;
  text-align: center;
}
#tableOfContents {
  padding: 0 10px 15px;
  background: #f5f5f5;
  box-sizing: border-box;
  width: 100%;
  border: 1px dashed #999;
}
#tableOfContents .title {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px dashed #999;
}
#tableOfContents .level-40,
#tableOfContents .level-80 {
  margin: 10px 0 0;
  margin-left: 20px;
  display: list-item;
}
#tableOfContents .level-80 {
  margin-left: 40px;
}
.tool-button {
  border-bottom: 1px solid #e5e5e5;
  float: left;
  width: 100%;
}
.tool-button a {
  display: inline-block;
  margin: 0 20px 10px;
}
.tool-button a img {
  height: 60px;
  display: table;
  margin: auto;
}
.tool-button a h4 {
  text-transform: uppercase;
  margin: 10px 0;
  color: #222;
  font-size: 1.2rem;
}
.module-car {
  float: left;
  width: 100%;
  overflow: hidden;
}
.module-car img {
  transition: all 0.5s ease-in-out;
}
.module-car img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.module-car .name {
  font-size: 22px;
  margin: 20px 0;
  text-align: center;
  font-weight: normal;
  float: left;
  width: 100%;
  color: #292929;
  letter-spacing: 1px;
}
.module-car .name b {
  display: block;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 10px;
}
.home-cars-icon {
  text-align: center;
  margin-bottom: 20px;
}
.home-cars-icon li {
  display: inline-block;
  margin: 0 5px;
}
.home-cars-icon li a {
  float: left;
}
.home-cars-icon li img {
  width: 100px;
}
.home-cars-icon li label {
  clear: both;
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
  color: #000;
}
.home-cars {
  float: left;
  width: 100%;
  background: url(../fonts/main/home-car-bg-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -85px;
}
.home-car {
  display: none;
}
.home-car:first-child {
  display: block;
}
.home-car .name {
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  margin: 50px 0 20px;
  padding-bottom: 10px;
  border-bottom: 4px solid;
  display: inline-block;
}
.home-car .price {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.home-car img {
  margin-top: -100px;
}
.module-news {
  margin: 0 -5px 20px;
}
.module-news div {
  float: left;
  padding: 5px;
  width: 33.33%;
}
.module-news a {
  float: left;
  width: 100%;
  padding-top: 75%;
  position: relative;
  background: transparent;
  background-size: cover;
  background-position: center;
}
.module-news .title {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 1) 100%
  );
  margin: 0;
  text-align: center;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
}
.module-news.TwoSize div:nth-child(2n) a {
  padding-top: calc(37.5% - 5px);
}
.module-news.TwoSize div:nth-child(3) {
  float: right;
}
#car-heading {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 500px;
  padding: 20px;
  margin: 0;
  background: #000;
  border: 5px solid #fff;
  border-top: 0;
  border-left: 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}
#car-heading h1 {
  margin: 0;
}
#car-heading h2 {
  font-size: 16px;
  font-weight: 100;
  padding-top: 10px;
  border-top: 1px dashed #999;
  margin: 10px 0 0;
  letter-spacing: 1px;
}
#car-nav {
  float: left;
  width: 100%;
  background: #000;
  padding: 10px;
}
#car-nav li {
  display: inline-block;
  line-height: 35px;
  height: 35px;
  margin-right: 10px;
}
#car-nav li:last-child {
  margin: 0;
  float: right;
  border: 1px solid #fff;
  line-height: 30px;
}
#car-nav a {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding-right: 10px;
  border-right: 1px dotted;
}
#car-nav li:last-child a {
  border: none;
  padding: 0 10px;
  display: block;
  line-height: 33px;
}
#car-highlight {
  float: left;
  width: 100%;
}
#car-promo {
  float: left;
  width: 100%;
  background: #f7f7f7;
  padding: 20px;
  border-bottom: 1px dotted #999;
  margin-bottom: 20px;
  text-align: center;
}
#car-slide {
  float: left;
  width: 100%;
  position: relative;
}
#car-slide .flex-control-thumbs {
  margin: 5px 0 10px;
  padding: 0;
  text-align: center;
}
#car-slide .flex-control-thumbs li {
  width: 10%;
  display: inline-block;
  float: none;
  margin: 5px;
}
#car-specs tr td,
#car-specs tr th {
  padding: 5px 10px;
  border: 1px solid #999;
  width: 20%;
}
#car-specs tr th {
  font-weight: bold;
  text-align: center;
  background: #f0f0f0;
}
article {
  max-width: 800px;
  margin: auto;
}
article img,
article input[type="image"] {
  height: auto !important;
}
article p,
article table,
article ul,
article h2,
article h3,
article h4,
article h5 {
  font-size: 18px;
  margin: 15px auto;
}
article ul li {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 10px;
}
article tr td,
article tr th {
  padding: 5px 10px;
  width: 20%;
  vertical-align: top;
}
#contact-vp {
  float: left;
  width: 100%;
  position: relative;
  padding-top: 65vh;
}
#contact-vp iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#contact-vp .contact-info {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 350px;
  background: #fff;
  padding: 20px;
}
#contact-vp .contact-name {
  margin: 0 0 5px;
}
#contact-vp .contact-info ul li {
  list-style-type: circle;
  margin: 5px 0 5px 20px;
}
#contact-vp .contact-info > a {
  text-decoration: underline;
  margin: 5px 0 0;
  float: left;
}
#fee_main {
  font-size: 18px;
}
#fee_main .fee-heading {
  margin: 0 0 10px;
  font-size: 22px;
}
#fee_main label {
  font-size: 0.85rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 10px 0;
}
#fee_main select,
#fee_main input {
  height: 35px;
  border: 1px solid;
  border-color: #d7d7d7;
  border-bottom-color: #292929;
  box-shadow: 0 1px 0 0 #292929;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
  font-family: unset;
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 10px;
  text-align: right;
}
#fee_main button {
  border: 2px solid;
  background: #fff;
  height: 40px;
  padding: 0 20px;
  display: table;
  margin: 0 auto 20px;
  cursor: pointer;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}
.price-item,
.price-item .price-icon {
  float: left;
  width: 100%;
  position: relative;
}
.price-item .price-icon:after {
  width: 0;
  height: 0;
  content: "";
  border-bottom: 33px solid #ebebeb;
  border-right: 32px solid transparent;
  border-left: 32px solid transparent;
  margin-left: -32px;
  position: absolute;
  bottom: -30px;
  left: 50%;
}
.price-item .price-icon h2 {
  margin: auto;
  display: table;
  border-bottom: 1px solid;
}
.price-item .price-icon img {
  display: table;
  margin: auto;
}
.price-item .price-option {
  width: 100%;
  float: left;
  background-color: #ebebeb;
  margin: 20px 0 30px;
  text-align: center;
}
.price-item .price-option ul li {
  list-style-type: none;
  padding: 20px 0 10px;
  display: inline-block;
  margin: 0 20px;
  font-size: 18px;
}
.price-item .price-option ul li h3 {
  text-transform: uppercase;
  margin: 0 0 10px;
  font-size: 20px;
}
.border_primary {
  border-color: #000000 !important;
}
.border_subsidiary {
  border-color: #252525 !important;
}
.color_primary {
  color: #000000 !important;
}
.color_subsidiary {
  color: #252525 !important;
}
.background_primary {
  background: #000000 !important;
}
.background_subsidiary {
  background: #252525 !important;
}

/*3D*/
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

.flipper-col {
    /* padding: 0 10px; */
    margin-bottom: 20px;
}

.flipper-item {
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    width: 100%;
    height: 100%;
    padding-top: calc(180/280*100%);
}

.flipper-front {
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    -webkit-transition: all .7s cubic-bezier(.5, .12, .46, .88);
    -o-transition: all .7s cubic-bezier(.5, .12, .46, .88);
    transition: all .7s cubic-bezier(.5, .12, .46, .88);
}

.flipper-front .inner {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    -webkit-transition: all .4s cubic-bezier(.5, .12, .46, .88) .2s;
    -o-transition: all .4s cubic-bezier(.5, .12, .46, .88) .2s;
    transition: all .4s cubic-bezier(.5, .12, .46, .88) .2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.flipper-front .inner h3 {
    text-transform: capitalize;
    line-height: initial;
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    background: linear-gradient(to top, #000 0%, rgb(0 0 0 / 30%) 70%, #0000 100%);
    font-size: 20px;
    padding-top: 50px;
}

.flipper-back {
    background-color: #1b242b;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    -webkit-transition: all .7s cubic-bezier(.5, .12, .46, .88);
    -o-transition: all .7s cubic-bezier(.5, .12, .46, .88);
    transition: all .7s cubic-bezier(.5, .12, .46, .88);
}

.flipper-back .inner {
    -webkit-transform: translateZ(125px);
    transform: translateZ(125px);
    -webkit-transition: all .4s cubic-bezier(.5, .12, .46, .88);
    -o-transition: all .4s cubic-bezier(.5, .12, .46, .88);
    transition: all .4s cubic-bezier(.5, .12, .46, .88);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: left;
    color: #fff;
}

.flipper-back h3 {
    font-size: 25px;
    margin-bottom: 10px;
    line-height: initial;
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flipper-back p {
    font-size: 15px;
    margin-bottom: 10px;
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flipper-back a.xt {
    color: #fff;
    font-size: 14px;
}

.flipper-back a.xt i {
    transition: 0.4s;
}

.flipper-back a.xt:hover i {
    padding-left: 15px;
}

.flipper-front,
.flipper-back {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: center;
    justify-content: flex-end;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: flex-end;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-width: 100%;
    z-index: 2;
}

.flipper-back::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(27, 36, 43, 0.85);
    text-align: left;
    color: #fff;
}

.flipper-item:hover .flipper-front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition: all .7s cubic-bezier(.5, .12, .46, .88);
    -o-transition: all .7s cubic-bezier(.5, .12, .46, .88);
    transition: all .7s cubic-bezier(.5, .12, .46, .88)
}

.flipper-item:hover .flipper-front .inner {
    -webkit-transform: translateZ(125px);
    transform: translateZ(125px);
    -webkit-transition: all .4s cubic-bezier(.5, .12, .46, .88);
    -o-transition: all .4s cubic-bezier(.5, .12, .46, .88);
    transition: all .4s cubic-bezier(.5, .12, .46, .88);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.flipper-item:hover .flipper-back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: all .7s cubic-bezier(.5, .12, .46, .88);
    -o-transition: all .7s cubic-bezier(.5, .12, .46, .88);
    transition: all .7s cubic-bezier(.5, .12, .46, .88)
}

.flipper-item:hover .flipper-back .inner {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    -webkit-transition: all .4s cubic-bezier(.5, .12, .46, .88) .2s;
    -o-transition: all .4s cubic-bezier(.5, .12, .46, .88) .2s;
    transition: all .4s cubic-bezier(.5, .12, .46, .88) .2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
/*End 3D*/
.content-main{margin:30px 0px;}
/* Contact */
.top-contact{margin-bottom:30px;}
.input-contact{position:relative;margin-bottom:15px;}
.input-contact input,.input-contact textarea{width:100%;padding:0px;outline:none;font-size:14px;}
.input-contact input{text-indent:10px;}
.input-contact textarea{resize:none;height:150px;padding:10px;}
.input-contact .custom-file-label::after{content:attr(title);}
.bottom-contact{position:relative;height:500px;}
.bottom-contact iframe{position:absolute;top:0px;left:0px;width:100%!important;height:100%!important;}

.title-main h2{
    font-size: 24px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
    line-height: 1.5;
    font-weight: normal;
    text-align: center;
    margin: 35px auto 25px;
    display: table;
}

.time-main{margin-bottom: 10px;}
.time-main i{}
.time-main span{padding-left: 5px;}
.share{padding:17px 10px 10px 10px;line-height:normal;background:rgba(128,128,128,0.15);margin-top:15px;border-radius:5px;}
.share b{display:block;margin-bottom:5px;}
.othernews b{margin-bottom:10px;}
.list-news-other{padding-left:17px;list-style:square;}
.list-news-other li{margin-bottom:2px;}
.list-news-other li a{text-transform:none;color:#333333;}
.list-news-other li a:hover{color:var(--color-red);}

/* Like Share */
.social-plugin{display:flex;justify-content:flex-start;margin-top:10px;}
.social-plugin .at-share-btn{margin-bottom:0px!important;}
.social-plugin .zalo-share-button{margin-left:3px;}
/*Lái thử*/
.page-form .form-group {
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0 30px;
  }
.page-form .form-group h2 {
    margin: 0 auto 15px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    display: table;
}
  .page-form.booking .form-group p {
  width: 50%;
  float: left;
  margin: 10px 0;
  }
  .page-form .form-group p.booking-preview-vehicle {
  margin-top: -55px;
  padding-left: 80px;
  box-sizing: border-box;
  }
  .page-form .form-group p.booking-preview-vehicle img{
  max-width: 250px;
  margin: auto;
  display: none;
  }
  .page-form .form-group label {
  width: 45%;
  display: inline-block;
  text-align: right;
  padding-right: 18px;
  vertical-align: top;
  font-size: 18px;
  line-height: 36px;
  max-width: 270px;
  box-sizing: border-box;
  }
  .page-form .field {
  border: medium none;
  background: none repeat scroll 0% 0% #E2E2E2;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  }
  .page-form .form-group select{
  background: none repeat scroll 0% 0% #E2E2E2;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  padding: 10px 0;
  border: 0;
  width: 54%;
  }
  .page-form .form-group input, .page-form .form-group textarea, .page-form .form-group .sbHolder, .page-form .arlet-list {
  width: 54%;
  min-width: 54%;
  }
  .page-form .button,.page-form input[name='submit-laithu'] {
  border: medium none;
  background-color: #e11428;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
  padding: 8px 24px;
  margin-left: 2px;
  width: 80px !important;
  display: inline-block;
  min-width: 80px;
  }
@media (max-width: 768px){

.page-form .form-group {
    padding: 10px;
}
.page-form .form-group h2 {
    margin: 10px 0;
    font-size: 17px;
}
.page-form.booking .form-group p {
    width: 100%;
    padding: 0;
    margin: 0 0 10px;
}
.page-form .form-group label {
    width: 110px;
    font-size: 14px;
}
.page-form .form-group input, .page-form .form-group textarea, .page-form .form-group .sbHolder, .page-form .arlet-list {
    width: calc(100% - 133px);
}
.page-form .form-group p.booking-preview-vehicle img {
    max-width: 100%;
    margin: auto;
}
}
input[name='submit-laithu']{}
/*End lái thử*/